.darkContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /*background: linear-gradient(#111838, #2D284E, #3B3460, #5D4E7A, #926C72, #F59D32);*/
  /*background: linear-gradient(#1A1F40, #1D2448, #222A55, #29365e, #494C5E, #F59D32);*/
  background-color: #161a29;
  /*color: #FAFAD2;*/
  color: white;
}

.lightContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /*background: linear-gradient(#4A6AEB, #7090FE, #9BB1FC, #BDC4EA, #C6CEE0, #e0c9ae);*/
  background-color: gainsboro;
  color: #0A0E21;
}

.lightContainer h1 {
  padding: 1em 0 0 2em;
  font-family: 'IBM Plex Mono', serif;
}

.darkDarkModeToggle {
  padding: 1em;
  font-size: smaller;
}
.darkDarkModeToggle:hover {
  color: wheat;
  cursor: pointer;
}

.lightDarkModeToggle {
  padding: 1em;
  font-size: smaller;
}
.lightDarkModeToggle:hover {
  color: midnightblue;
  cursor: pointer;
}


.mobileMenuOpen {
  display: none;
  font-size: smaller;
}
.mobileMenuClose {
  display: none;
  font-size: smaller;
}

.navigationLinks {
  display: flex;
  flex-direction: row;
  width: 950px;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'IBM Plex Mono', serif;
}

.mobileNavigationLinks {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: 'IBM Plex Mono', serif;
}

.darkNavigationLogo {
  margin-right: auto;
  padding: 1em 1em 1em 2em;
  color: wheat;
}
.darkNavigationLogo:hover,
.darkNavigationLogo:focus,
.darkNavigationLogo:active {

  cursor: pointer;
}

.lightNavigationLogo {
  margin-right: auto;
  padding: 1em 1em 1em 2em;
  color: midnightblue;
}

.lightNavigationLogo:hover,
.lightNavigationLogo:focus,
.lightNavigationLogo:active {

  cursor: pointer;
}


.darkNavigation {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}

.darkNavigation a {
  padding: 1em;
}

.darkNavigation a:hover,
.darkNavigation a:focus,
.darkNavigation a:active {
  color: wheat;
  cursor: pointer;
}

.lightNavigation {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.lightNavigation a {
  padding: 1em;
}

.lightNavigation a:hover,
.lightNavigation a:focus,
.lightNavigation a:active {
  color: midnightblue;
  cursor: pointer;
}


.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main h1 {
  padding: 1em 0 0 2em;
  font-family: 'IBM Plex Mono', serif;
}

.darkFooter {
  width: 100%;
  height: 100px;
  /*border-top: 1px solid #eaeaea;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
}

.darkFooterIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
  font-size: larger;
}
.darkFooterIcons a:hover,
.darkFooterIcons a:focus,
.darkFooterIcons a:active {
  color: wheat;
  cursor: pointer;
}
.lightFooterIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 300px;
  font-size: larger;
}
.lightFooterIcons a:hover,
.lightFooterIcons a:focus,
.lightFooterIcons a:active {
  color: midnightblue;
  cursor: pointer;
}

.lightFooter {
  width: 100%;
  height: 100px;
  /*border-top: 1px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.25;
  font-size: 2.5rem;
  font-family: 'IBM Plex Mono', serif;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.darkCode {
  margin-top: 2em;
  border-radius: 10px;
  padding: 2em;
  font-size: 0.9em;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  background-color: #2c2c2c;
  color: #f3d292;
  width: 100%;
  max-width: min(100%, 850px);
}

.lightCode {
  margin-top: 2em;
  border-radius: 10px;
  padding: 2em;
  font-size: 0.9em;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  background-color: #2c2c2c;
  color: #f3d292;
  width: 100%;
  max-width: min(100%, 850px);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.image {
  border-radius: 10px;
  margin-bottom: 1em;
  max-width: min(100%, 850px);
  margin-top: 2em;
}

.gif {
  border-radius: 10px;
  max-width: min(100%, 250px);
  max-height: 500px;
}

.gifBlock {
  display: flex;
  flex-direction: row;
  width: min(100%, 850px);
  justify-content: space-between;
  margin-top: 2em;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: min(100%, 850px);
}


.darkCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-basis: 45%;
  max-width: 950px;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /*border: 1px solid #eaeaea;*/
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: rgba(0, 0, 0, 0.25);
}

.darkCard a:hover,
.darkCard a:focus,
.darkCard a:active {
  color: wheat;
  cursor: pointer;
}

.darkCard h2 {
  align-self: flex-start;
  padding: 0 2em 0 2em;
  font-size: larger;
}


.darkCard h3 {
  padding: 1em 1em 0 1em;
}

.darkCard p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: lighter;
  padding: 1em 1.5em 0 1.5em;
  align-self: flex-start;
}


.darkCardTitle {
  margin: 0;
  font-size: x-large;
  padding: 1em;
  align-self: flex-start;
  font-family: 'IBM Plex Mono', serif;
  color: wheat;
}

.lightCardTitle {
  margin: 0;
  font-size: x-large;
  padding: 1em;
  align-self: flex-start;
  font-family: 'IBM Plex Mono', serif;
  color: midnightblue;
}


.lightCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-basis: 45%;
  max-width: 950px;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /*border: 1px solid black;*/
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: rgba(255,255,255,0.5);
}

.lightCard a:hover,
.lightCard a:focus,
.lightCard a:active {
  color: midnightblue;
  cursor: pointer;
}

.lightCard h2 {
  align-self: flex-start;
  padding: 0 2em 0 2em;
  font-size: larger;
}

.lightCard h3 {
  padding: 1em 1em 0 1em;
}

.lightCard p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: lighter;
  padding: 1em 1.5em 0 1.5em;
  align-self: flex-start;
}

.logo {
  /*height: 1em;*/
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .gif {
    width: 100px;
    height: 200px;
  }

  .gifBlock {
    max-width: 100%;
    justify-content: space-between;
  }

  .navigationLinks a {
    display: none;
  }

  .darkContainer h1 {
    padding: 0 0 0 1em;
  }

  .lightContainer h1 {
    padding: 0 0 0 1em;
  }

  .darkNavigation {
    width: 100%;
    height: auto;
  }
  .lightNavigation {
    width: 100%;
    height: auto;
  }

  .darkNavigation a {
    padding: 0 1em 0 0;
  }
  .lightNavigation a {
    padding: 0 1em 0 0;
  }

  .mobileMenuOpen {
    padding: 0 2em 0 0;
    display: revert;
  }
  .mobileMenuClose {
    padding: 0 1em 0 0;
    display: revert;
  }

  .darkDarkModeToggle {
    /*display: none;*/
    padding: 0 1em 0 0;
  }
  .lightDarkModeToggle {
    /*display: none;*/
    padding: 0 1em 0 0;
  }


  .darkCard h3 {
    padding: 0;
  }
  .darkCard h2 {
    padding: 0;
  }
  .darkCard p {
    padding: 1em 0 0 0;
    font-size: 1em;
  }
  .lightCard h3 {
    padding: 0;
  }
  .lightCard h2 {
    padding: 0;
  }
  .lightCard p {
    padding: 1em 0 0 0;
    font-size: 1em;
  }
}
